
<section class="main-section host-step-1">

    <div class="container">
        <div class="row">
            <form>
            <div class="form-wrapper" id="event-create" style="height: 2400px;">
                <div class="col-md-5">

                        <h2>1.Evento</h2>

                        <div class="form-scroll">
                            <div class="form-group">
                                <label for="name">Titolo</label>
                                <div class="select-container">
                                    <select name="" id="name">
                                        <option value="juve x inter">juve x inter</option>
                                    </select>
                                    <span class="select-arrow ion-arrow-down-b"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="date">Quando</label>
                                <div class="select-container">
                                    <span class="calender-icon ion-calendar"></span>
                                    <select name="" id="date" style="margin-left: 25px;">
                                        <option value="date" >Oggi</option>
                                    </select>
                                    <span class="select-arrow ion-arrow-down-b"></span>
                                </div>
                            </div>
                            <div class="form-group city-info clearfix">
                                <div>
                                    <label for="inizio">Ora inizio</label>

                                    <div class="select-container">
                                        <select name="" id="inizio">
                                            <option value="">23</option>
                                        </select>
                                        <span class="select-arrow ion-arrow-down-b"></span>
                                    </div>
                                    <div class="select-container">
                                        <select name="" id="inizio">
                                            <option value="">55</option>
                                        </select>
                                        <span class="select-arrow ion-arrow-down-b"></span>
                                    </div>

                                </div>

                                <div>
                                    <label for="fine">Ora fine</label>

                                    <div class="select-container ">
                                        <select name="" id="fine">
                                            <option value="">23</option>
                                        </select>
                                        <span class="select-arrow ion-arrow-down-b"></span>
                                    </div>
                                    <div class="select-container ">
                                        <select name="" id="fine">
                                            <option value="">55</option>
                                        </select>
                                        <span class="select-arrow ion-arrow-down-b"></span>
                                    </div>
                                </div>
                            </div>



                            <div class="form-group clearfix">
                                <div class="aria">
                                    <label for="Aria">Aria condizionata</label>
                                    <div class="select-container">
                                        <select name="" id="Aria">
                                            <option value="SI">SI</option>
                                        </select>
                                        <span class="select-arrow ion-arrow-down-b"></span>
                                    </div>
                                </div>

                                <div class="light">
                                    <label for="Luce">Luce ambientale</label>
                                    <div class="select-container">
                                        <select name="" id="Luce">
                                            <option value="italia">Finestra</option>
                                        </select>
                                        <span class="select-arrow ion-arrow-down-b"></span>
                                    </div>
                                </div>
                            </div>


                            <div class="subtitle ">
                                <div class="title">
                                    <h2>2.Location:</h2>
                                    <span class="select-up ion-arrow-up-b"></span>
                                </div>
                                <div class="content">
                                    <h2>Casa Mai</h2>
                                    <span class="ion-plus"> </span> <h3> Aggiungi Location </h3>
                                </div>
                            </div>



                            <div class="subtitle ">
                                <div class="title">
                                    <h2>3.Apparecchio:</h2>
                                    <span class="select-up ion-arrow-up-b"></span>
                                </div>
                                <div class="content">
                                    <h2>TV - 55" -Full-HD</h2>
                                    <span class="ion-plus"> </span> <h3>Aggiungi Location  </h3>
                                </div>
                            </div>

                            <h2>4.Ospiti</h2>
                            <div class="form-group">
                                <label for="count">Numero Ospitati</label>
                                <div class="select-container">
                                    <select name="" id="count">
                                        <option value="">1</option>
                                    </select>
                                    <span class="select-arrow ion-arrow-down-b"></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="gender">Sesso</label>
                                <div class="select-container">
                                    <select name="" id="gender">
                                        <option value="">Solo Maschi</option>
                                    </select>
                                    <span class="select-arrow ion-arrow-down-b"></span>
                                </div>
                            </div>

                            <h2>5.Prezzo</h2>

                            <div class="form-group">
                                <label for="price">quota persona</label>

                                <input type="text" id="price">

                            </div>


                            <h2>6.Options</h2>
                            <div class="form-group host-options">
                                <div>
                                    <div><input type="checkbox" name="wifi" value="1" id="wifi"> <label for="wifi">WIFI Gratis</label></div>
                                    <div><input type="checkbox" name="location_order" value="1" id="location_order"> <label for="location_order">Ordinare a casa</label></div>
                                    <div><input type="checkbox" name="smoking" value="1" id="smoking"> <label for="smoking">Fumare</label></div>
                                    <div><input type="checkbox" name="children_inhome" value="1" id="children_inhome"> <label for="children_inhome">Bambini</label></div>
                                    <div><input type="checkbox" value="1" id=""> <label>Amici pelosi in casa</label></div>
                                    <div><input type="checkbox"> <label>Portare amici pelosi</label></div>
                                    <div><input type="checkbox" name="males" value="1" id="males"> <label for="males">Maschi</label></div>
                                    <div><input type="checkbox" name="females" value="1" id="females"> <label for="females">Femmine</label></div>
                                </div>
                            </div>

                            <h2>7.Notes</h2>
                            <div class="form-group ">
                                <label for="price">Note particolari</label>
                                <textarea rows="4" cols="35"></textarea>
                            </div>

                            <div class="form-host-footer">
                                <a href="#" class="back"><i class="ion-ios-arrow-thin-left"></i> Indietro</a>
                                <a href="#" class="host-btn">Avanti</a>
                            </div>

                        </div>

                </div><!-- ./col-md-4 -->
            </div>
                <div class="col-md-6 col-md-push-1 sidebar-wrapper host2">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="hint-box">
                                <i class="ion-ios-lightbulb-outline"></i>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt dolorem eius enim facere, fugit, iure nam natus porro quibusdam saepe sapiente sint.
                                </p>
                                <i class="ion-ios-camera-outline camera-icon"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <form id="upload-form" action="<?php echo $_SERVER['PHP_SELF']; ?>" method="post" enctype="multipart/form-data">
                            <div class="host-step-2">
                                <div class="picbox">
                                    <span class="back"><i class="ion-ios-camera"></i></span>
                                    <p>Trascina l'immagine per caricare</p>
                                </div>
                            </div>
                        </form>

                    </div>

                    {#<span class="errorMessage"></span>#}
                </div>

            </form>
        </div><!-- ./ row -->

    </div><!-- ./container -->

</section>