<!-- Wecome host section -->
<section class="welcome-host-section main-section">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <h1>
                    Ciao Antonio !
                    Hai una pay tv,
                    una location
                    e un apparecchio!
                </h1>
                <p>
                    Diventa HOST e ospita nuovi amici <br>a casa tua guadagnando
                </p>
                <a href="host-step-1.php" class="btn btn-lg btn-primary welcome-host-btn">compila profilo host</a>
                <div class="hint-box">
                    <i class="ion-ios-lightbulb-outline"></i>
                    <p>
                        pubblicato un annuncio, in una settimana crediamo che tu possa guadagnare
                        <span class="price">50 &euro;</span>
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-md-push-1 slideInRight">
                <div class="image-slide-container">
                    <img src="img/Be-host-welcome-page.png" alt="" class="slideInRight slide-image">
                </div>
            </div>
        </div><!-- ./ row -->
    </div><!-- ./ container -->
</section>