<section class="welcome-host-section main-section">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-push-1 finish-host">
                <img src="img/success.png" class="success-image" alt="success image">
                <p>
                    Complimenti Antonio,<br>
                    Hai completato il tuo profilo Host,<br>
                    ora puoi inziarebr <br>
                    a creare i tuoi eventi
                </p>
                <a href="event-create.php" class="btn btn-lg btn-primary welcome-host-btn">+ Crea evento</a>
            </div>
            <div class="col-md-3 col-md-push-4">
                <img src="img/finale-message.png" alt="">
            </div>
        </div><!-- ./ row -->
    </div><!-- ./ container -->
</section>
