<section class="main-section host-step-1 host-step-2">

    <div class="container">
        <div class="row">
            <form id="host-step-3" method="post" action="/host-step-3.php">
            <div class="form-wrapper" style="height: 100vh;">
                <div class="col-md-5">
                    <h2>3.Apparecchio</h2>
                    <div class="form-scroll">

                            <div class="form-group">
                                <label for="device_type">Tipo Apparecchio</label>
                                <div class="select-container">
                                    <select name="device_type" id="device_type">
                                        <option value="tv">TV</option>
                                    </select>
                                    <span class="select-arrow ion-arrow-down-b"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="dimensions">Grandezza</label>
                                <div class="select-container">
                                    <select name="dimentions" id="dimentions">
                                        <option value="55">55</option>
                                    </select>
                                    <span class="select-arrow ion-arrow-down-b"></span>
                                </div>
                            </div>

                            <div class="form-group seats clearfix">
                                <div>
                                    <label for="resolution">Resouluzione</label>
                                    <div class="select-container">
                                        <select name="resolution" id="resolution">
                                            <option value="hd">Full HD</option>
                                        </select>
                                        <span class="select-arrow ion-arrow-down-b"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group seats clearfix">
                                <div>
                                    <label for="is_3d">3D</label>
                                    <div class="select-container">
                                        <select name="is_3d" id="is_3d">
                                            <option value="1">SI</option>
                                            <option value="0">NO</option>
                                        </select>
                                        <span class="select-arrow ion-arrow-down-b"></span>
                                    </div>
                                </div>
                            </div>

                            {#<div class="form-host-footer">#}
                                {#<a href="#" class="back"><i class="ion-ios-arrow-thin-left"></i> Indietro</a>#}
                                {#<button type="submit" class="host-btn">Avanti &nbsp; <i class=""></i></button>#}
                            {#</div>#}

                        <div class="divider"></div>
                        <div class="form-host-footer">
                            <a href="" class="back"><i class="ion-ios-arrow-thin-left"></i> Indietro</a>
                            <button type="submit" class="host-btn">Avanti &nbsp; <i class=""></i></button>
                        </div>
                    </div>
                </div><!-- ./col-md-4 -->
            </div>
            <div class="col-md-6 col-md-push-1 sidebar-wrapper host2">
                <div class="row">
                    <div class="col-md-7">
                        <div class="hint-box">
                            <i class="ion-ios-lightbulb-outline"></i>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt dolorem eius enim facere, fugit, iure nam natus porro quibusdam saepe sapiente sint.
                            </p>
                            <i class="ion-ios-camera-outline camera-icon"></i>
                        </div>
                    </div>
                </div>
            </div>
            </form>
        </div><!-- ./ row -->
    </div><!-- ./container -->

</section>