<main>

    <!-- Hero section -->
    <section class="hero-section">
        <!--<img src="img/hero.jpg" alt="Tv mates heror image" class="hero-img">-->
        <div class="search-container">
            <div class="content-box">
                <i class="ion-easel"></i>
                <h1>Cerca il tuo evento</h1>
                <p>qualcosa da scrivere qui una bella frase lunga</p>
            </div>
            <form action="">
                <div>
                    <i class="ion-ios-search"></i>
                    <input type="text" placeholder="Tutti Eventi">
                </div>
                <div>
                    <i class="ion-ios-location-outline"></i>
                    <input type="text" placeholder="Dove">
                </div>
                <div>
                    <i class="ion-android-calendar"></i>
                    <input type="text" placeholder="Oggi">
                </div>
            </form>
        </div>
    </section>

    <!-- Show event section -->
    <section class="event-section">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img src="img/02.jpg" alt="">
                </div>
                <div class="col-md-4 col-md-push-1">
                    <div class="event-content">
                        <h2>Hai Una pay TV e Una location?</h2>
                        <p>perche non crei un evento ed inviti nuova gente</p>
                        <a href="#" class="button">+ Crea Evento</a>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- Features section -->
    <section class="features-section">
        <div class="container">
            <h2>Perche TV mates?</h2>
            <div class="row features-list">
                <div class="col-md-4">
                    <div class="icon"></div>
                    <h3>testo da metttere</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad corporis in neque quia. Ad aliquam at culpa debitis eveniet.</p>
                </div>
                <div class="col-md-4">
                    <div class="icon"></div>
                    <h3>testo da metttere</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad corporis in neque quia. Ad aliquam at culpa debitis eveniet.</p>
                </div>
                <div class="col-md-4">
                    <div class="icon"></div>
                    <h3>testo da metttere</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad corporis in neque quia. Ad aliquam at culpa debitis eveniet.</p>
                </div>
            </div>
        </div>
    </section>
</main>